<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="communityMapper">

	<select id="freeBoardContent" parameterType="int" resultType="com.nsrecord.dto.FreeBoardDto">
		SELECT B_SEQ,
		B_TITLE,
		TO_CHAR(B_DATE, 'YYYY-MM-DD-HH24:MI:SS') AS B_DATE,
		B_COUNT,
		U_NICKNAME,
		B_CONTENT,
		U_SEQ,
		B_STATUS
		FROM BOARD
		WHERE B_SEQ = #{b_seq}
	</select>

	<select id="myFreeBoardList" parameterType="com.nsrecord.dto.BoardPager" resultType="com.nsrecord.dto.FreeBoardDto">
		<include refid="pagingHeader"></include>
				SELECT B.*
				FROM BOARD B
				WHERE U_SEQ = #{u_seq}
		<include refid="search"></include>
			ORDER BY B_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>

	<select id="mySelectFreeBoardCount" parameterType="com.nsrecord.dto.SearchDto" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE U_SEQ = #{u_seq}
		<include refid="search"></include>
	</select>
	
		<select id="myReplyList" parameterType="com.nsrecord.dto.BoardPager" resultType="com.nsrecord.dto.FreeBoardDto">
		<include refid="pagingHeader"></include>
				SELECT R.*
				FROM REPLY R
				WHERE U_SEQ = #{u_seq}
		<include refid="search"></include>
			ORDER BY R_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>

	<select id="mySelectReplyCount" parameterType="com.nsrecord.dto.SearchDto" resultType="int">
		SELECT COUNT(*)
		FROM REPLY
		WHERE U_SEQ = #{u_seq}
		<include refid="search"></include>
	</select>


	<insert id="freeBoardWriteEnd" parameterType="java.util.HashMap">
		INSERT INTO BOARD
		(B_SEQ, U_SEQ, U_NICKNAME, B_TITLE, B_CONTENT, B_DATE)
		VALUES
		(BOARD_SEQ.NEXTVAL, #{u_seq}, #{u_nickname}, #{b_title}, #{b_content}, SYSDATE)
	</insert>

	<update id="updateFreeBoardContentEnd" parameterType="java.util.HashMap">
		UPDATE BOARD
		SET
			B_TITLE = #{b_title},
			B_CONTENT = #{b_content},
			B_STATUS = #{b_status}
		WHERE B_SEQ = #{b_seq}
	</update>
	
	<delete id="deleteFreeBoardContent" parameterType="int">
		DELETE FROM BOARD
		WHERE B_SEQ = #{b_seq}	
	</delete>
	
	<insert id="insertReply" parameterType="java.util.HashMap">
	INSERT INTO REPLY
		(R_SEQ, U_SEQ, U_NICKNAME, R_CONTENT, R_DATE, B_SEQ)
		VALUES
		(R_SEQ.NEXTVAL, #{u_seq}, #{u_nickname}, #{r_content}, SYSDATE, #{b_seq})
	</insert>
	
	<select id="replyContent" resultType="com.nsrecord.dto.FreeBoardDto">
		SELECT B_SEQ,
		       U_SEQ,
		       TO_CHAR(R_DATE, 'YYYY-MM-DD-HH24:MI:SS') AS R_DATE,
		       U_NICKNAME,
		       R_CONTENT,
		       R_SEQ
		FROM REPLY
		WHERE B_SEQ = #{b_seq}
		ORDER BY R_SEQ DESC
	</select>
	
	<delete id="deleteReply" parameterType="int">
		DELETE FROM REPLY
		WHERE R_SEQ = #{r_seq}
	</delete>
	
	<update id="updateReplyEnd" parameterType="java.util.HashMap">
		UPDATE REPLY
		SET
			R_CONTENT = #{r_content}
		WHERE R_SEQ = #{r_seq}
	</update>
	
	<select id="selectFreeBoardCount" parameterType="com.nsrecord.dto.SearchDto" resultType="int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE 1 = 1
		<include refid="search"></include>
	</select>
	
	<select id="selectFreeBoardAll" parameterType="com.nsrecord.dto.BoardPager" resultType="com.nsrecord.dto.FreeBoardDto">
		<include refid="pagingHeader"></include>
		SELECT B.*
		FROM BOARD B
		WHERE 1 = 1
		AND B_STATUS = 'Y'
		<include refid="search"></include>
		ORDER BY B_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<select id="adminSelectFreeBoardAll" parameterType="com.nsrecord.dto.BoardPager" resultType="com.nsrecord.dto.FreeBoardDto">
		<include refid="pagingHeader"></include>
		SELECT B.*
		FROM BOARD B
		WHERE 1 = 1
		<include refid="search"></include>
		ORDER BY B_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<update id="boardCountUpdate" parameterType="int"> 
		UPDATE BOARD
		SET
		B_COUNT = B_COUNT+1
		WHERE B_SEQ = #{b_seq}
	</update>
	
	<update id="countReply" parameterType="int">
		UPDATE BOARD
		SET
		B_REPLY = B_REPLY+1
		WHERE B_SEQ = #{b_seq}
	</update>
	
	<update id="deCountReply" parameterType="int">
		UPDATE BOARD
		SET
		B_REPLY = B_REPLY-1
		WHERE B_SEQ = #{b_seq}
	</update>
	
	<insert id="insertNoticeBoard" parameterType="notice">
		INSERT INTO NOTICE
		VALUES(
			NOTICE_SEQ.NEXTVAL,
			#{u_seq},
			#{n_title},
			#{n_content},
			default,
			default,
			#{n_ori},
			#{n_re},
			default
		)
	</insert>
	
	<update id="updateNoticeBoard" parameterType="notice">
		UPDATE NOTICE SET
			N_TITLE = #{n_title},
			N_CONTENT = #{n_content},
			N_DATE = SYSDATE
		WHERE N_SEQ = #{n_seq}
	</update>
	
	<delete id="deleteNoticeBoard" parameterType="notice">
		DELETE FROM NOTICE
		WHERE N_SEQ = #{n_seq}
	</delete>
	
	<update id="noticeCountUp" parameterType="notice">
		UPDATE NOTICE SET
			N_COUNT = N_COUNT + 1
		WHERE N_SEQ = #{n_seq }
	</update>
	
	<select id="selectNoticeBoardOne" parameterType="notice" resultType="notice">
		SELECT N.*, U_NAME
		FROM NOTICE N
		JOIN USER_INFO UI
		ON (N.U_SEQ = UI.U_SEQ)
		WHERE N.N_SEQ = #{n_seq}
	</select>

	<select id="selectNoticeBoardCount" parameterType="searchDto"
		resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE 1 = 1
		<include refid="search"></include>
	</select>
	
	<select id="selectNoticeBoardAll"
		parameterType="com.nsrecord.dto.BoardPager" resultType="notice">
		<include refid="pagingHeader"></include>
		SELECT N.*, U_NAME
		FROM NOTICE N
		JOIN USER_INFO UI
		ON (N.U_SEQ = UI.U_SEQ)
		WHERE 1 = 1
		<include refid="search"></include>
		ORDER BY N_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>

	<sql id="search">
		<choose>
			<when test="searchSort != ''">
				AND ${searchSort} like '%'||#{searchVal}||'%'
			</when>
<!-- 			코드 축약 -->
<!-- 			<when test="searchSort == 1"> -->
<!-- 				AND n_seq like '%'||#{searchVal}||'%' -->
<!-- 			</when> -->
<!-- 			<when test="searchSort == 2"> -->
<!-- 				AND n_title like '%'||#{searchVal}||'%' -->
<!-- 			</when> -->
		</choose>
	</sql>

	<sql id="pagingHeader">
		SELECT * FROM (
		SELECT ROWNUM AS RN, A.* FROM (
	</sql>
	<sql id="pagingFooter">
		) A
		) WHERE RN BETWEEN #{start} AND #{end}
	</sql>
	
	<select id="selectFreeBoardAdminList" resultType="com.nsrecord.dto.FreeBoardDto">
	SELECT *
	FROM (
	SELECT ROWNUM RW, A.*
	FROM BOARD A
	ORDER BY B_DATE DESC
	)
	WHERE RW BETWEEN 1 AND 5
	</select>
	

	
	<select id="selectAdminNoticeList" resultType="com.nsrecord.dto.Notice">
	SELECT *
	FROM (
	SELECT ROWNUM RW, N.*, UI.U_NAME
	FROM NOTICE N JOIN USER_INFO UI
	ON (UI.U_SEQ = N.U_SEQ)
	ORDER BY N_SEQ DESC
	)
	WHERE RW BETWEEN 1 AND 5
	</select>


</mapper>