<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gpx">

<select id = "gpxSelectAll" resultType="gpxDto">
	SELECT G_SEQ,
		   U_SEQ,
		   G_CONTENT,
		   TO_CHAR(G_DATE, 'YYYY-MM-DD HH24:MI:SS') AS G_DATE,
		   G_TITLE,
		   G_ORI,
		   G_RE,
		   U_NICKNAME,
		   G_COUNT,
		   G_RECOMMAND,
		   G_REPLY,
		   G_STATUS
	FROM GPX


</select>


	<insert id="insertGpxBoard" parameterType="com.nsrecord.dto.GpxDto">
	INSERT INTO GPX (
		G_SEQ, 
		U_SEQ,
		G_CONTENT,
		G_DATE,
		G_TITLE,
		U_NICKNAME,
		G_ORI,
		G_RE
	) VALUES (
		GPX_SEQ.NEXTVAL,
		#{u_seq},
		#{g_content},
		 sysdate,
		#{g_title},
		#{u_nickname},
		#{g_ori},
		#{g_re}
	)

	</insert>


	<select id="selectGpxBoardOne" parameterType="int"
	resultType="com.nsrecord.dto.GpxDto">
	
	SELECT G_SEQ, 
		   G_TITLE, 
		   G_CONTENT, 
		   U_SEQ
	FROM GPX
	WHERE G_SEQ = #{g_seq}

	</select>

	<update id="updateGpxBoard" parameterType="com.nsrecord.dto.GpxDto">
	UPDATE GPX
	SET G_TITLE = #{g_title},
	G_CONTENT = #{g_content}
	WHERE G_SEQ = #{g_seq}
	
	</update>

	<delete id="deleteGpxBoard" parameterType="int">
	DELETE FROM GPX
	WHERE G_SEQ = #{g_seq}
		
	</delete>

	<select id="gpxWhereList" parameterType="com.nsrecord.dto.GpxDto" resultType="gpxDto">
	SELECT G_SEQ,
				 G_TITLE,
				 U_NICKNAME,
				 G_COUNT,
				 G_RECOMMAND
	FROM GPX
	WHERE 1=1
	<if test="g_title != null and g_title !=''">
	AND G_TITLE LIKE '%' ||#{g_title}|| '%'
	</if>
	<if test="u_nickname !=null and u_nickname !=''">
	AND U_NICKNAME LIKE '%' ||#{u_nickname}||'%'
	</if>

	ORDER BY G_SEQ DESC
	
	
	
	</select>




</mapper>