<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gpx">



	<sql id="search">
		<choose>
			<when test="searchSort !=''">
				AND ${searchSort} like '%'||#{searchVal}||'%'
			</when>	
		</choose>
	</sql>
	
	<sql id="pagingHeader">
		SELECT * FROM(
		SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	
	<sql id="pagingFooter">
		) A
		)WHERE rn BETWEEN #{start} AND #{end}	
	</sql>
	
	
	<select id = "gpxSelectAll" resultType="gpxDto" parameterType="com.nsrecord.dto.BoardPager" >
		<include refid="pagingHeader"></include>
			SELECT G_SEQ,
				   U_SEQ,
				   G_CONTENT,
				   TO_CHAR(G_DATE, 'YYYY-MM-DD HH24:MI:SS') AS G_DATE,
				   G_TITLE,
				   G_ORI,
				   G_RE,
				   U_NICKNAME,
				   G_COUNT,
				   G_RECOMMAND,
				   G_REPLY,
				   G_STATUS
			FROM GPX
			WHERE 1 = 1
			ORDER BY G_DATE DESC
		<include refid="search"></include>
		<include refid="pagingFooter"></include>
	</select>



	<insert id="insertGpxBoard" parameterType="com.nsrecord.dto.GpxDto">
		INSERT INTO GPX
		VALUES (
			GPX_SEQ.NEXTVAL,
			#{u_seq},
			#{g_content},
			 default,
			#{g_title},
			#{g_ori},
			#{g_re},
			#{u_nickname},
			default,
			default,
			default,
			default
		)
	</insert>


	<select id="selectGpxBoardOne" parameterType="int"
	resultType="com.nsrecord.dto.GpxDto">
	
	SELECT
			G_SEQ, 
		   G_TITLE, 
		   G_CONTENT, 
		   U_SEQ,
		   G_ORI,
		   G_RE
	FROM GPX
	WHERE G_SEQ = #{g_seq}

	</select>

	<update id="updateGpxBoard" parameterType="com.nsrecord.dto.GpxDto">
	UPDATE GPX
	SET G_TITLE = #{g_title},
	G_CONTENT = #{g_content},
	G_ORI = #{g_ori},
	G_RE = #{g_re}
	WHERE G_SEQ = #{g_seq}
	
	</update>

	<delete id="deleteGpxBoard" parameterType="int">
	DELETE FROM GPX
	WHERE G_SEQ = #{g_seq}
		
	</delete>

	<select id="gpxWhereList" parameterType="com.nsrecord.dto.GpxDto" resultType="gpxDto">
	SELECT G_SEQ,
				 G_TITLE,
				 U_NICKNAME,
				 G_COUNT,
				 G_RECOMMAND
	FROM GPX
	WHERE 1=1
	<if test="g_title != null and g_title !=''">
	AND G_TITLE LIKE '%' ||#{g_title}|| '%'
	</if>
	<if test="u_nickname !=null and u_nickname !=''">
	AND U_NICKNAME LIKE '%' ||#{u_nickname}||'%'
	</if>

	ORDER BY G_SEQ DESC
	
	
	
	</select>

	<select id="selectGpxBoardCount" parameterType="searchDto" resultType="_int">
	SELECT COUNT(*)
	FROM GPX
	WHERE 1=1
	<include refid="search"></include>
	</select>
	
	<insert id="insertGpxReply" parameterType="com.nsrecord.dto.GpxReplyDto">
	INSERT INTO GPXREPLY(
	GR_SEQ,
	U_SEQ,
	G_SEQ,
	U_NICKNAME,
	GR_CONTENT,
	GR_DATE
	)
	VALUES(
	GPXREPLY_SEQ.NEXTVAL,
	#{u_seq},
	#{g_seq},
	#{u_nickname},
	#{gr_content},
	SYSDATE
	)
	
	</insert>
	
	<select id="selectOneReply" resultType="com.nsrecord.dto.GpxReplyDto">
	SELECT G_SEQ,
	U_SEQ,
	U_NICKNAME,
	GR_CONTENT,
	GR_SEQ
	FROM GPXREPLY
	WHERE G_SEQ = #{g_seq}
	ORDER BY GR_SEQ DESC
	
	</select>

	<update id="gpxReplyUpdate" parameterType="java.util.HashMap">
	UPDATE GPXREPLY
	SET GR_CONTENT = #{gr_content}
	WHERE GR_SEQ = #{gr_seq}
	</update>

	<delete id="deleteGpxReply" parameterType="_int">
	DELETE
	FROM GPXREPLY
	WHERE GR_SEQ =  #{gr_seq}
	
	
	</delete>
	
	<update id="gpxCount" parameterType="int">
		UPDATE GPX
		SET G_COUNT = G_COUNT+1
		WHERE G_SEQ = #{g_seq}
	</update>
	
	
	<update id="gpxRecommand" parameterType="int">
	UPDATE GPX
	SET G_RECOMMAND = G_RECOMMAND+1
	WHERE G_SEQ = #{g_seq}
	</update>	
	
	

	<select id="selectGrcCount" parameterType="searchDto" resultType="_int">
		SELECT COUNT(*)
			FROM GPX_RANKING_COURSE
			WHERE 1=1
		<include refid="search"></include>
	</select>
	
	
	<select id="selectGrcAll" parameterType="boardPager" resultType="grcDto">
		<include refid="pagingHeader"></include>
			SELECT *
			FROM GPX_RANKING_COURSE
			WHERE 1 = 1
		<include refid="search"></include>
			ORDER BY GRC_SEQ DESC
		<include refid="pagingFooter"></include>
	</select>
	
	<select id="selectGrcAllList" resultType="grcDto">
			SELECT *
			FROM GPX_RANKING_COURSE
	</select>
	
	<insert id="insertGrc" parameterType="grcDto">
		INSERT INTO GPX_RANKING_COURSE
		VALUES (
			GRC_SEQ.NEXTVAL,
			#{grc_title },
			#{grc_content },
			#{grc_gpxOri },
			#{grc_gpxRe },
			#{grc_imgOri },
			#{grc_imgRe },
			#{grc_start },
			#{grc_end },
			#{grc_length },
			default,
			#{grc_status }
		)
	</insert>
	
	<select id="selectGrcOne" parameterType="grcDto" resultType="grcDto">
		SELECT *
		FROM GPX_RANKING_COURSE
		WHERE GRC_SEQ = #{grc_seq}
	</select>
	
	<update id="updateGrc" parameterType="grcDto">
		UPDATE GPX_RANKING_COURSE
		SET 
			GRC_TITLE = #{grc_title },
			GRC_CONTENT = #{grc_content },
			GRC_STATUS = #{grc_status }
		WHERE GRC_SEQ = #{grc_seq }
	</update>
	
	<delete id="deleteGrc" parameterType="grcDto">
		DELETE FROM GPX_RANKING_COURSE
		WHERE GRC_SEQ = #{grc_seq}	
	</delete>
	
	
	
	<select id="myGpxAllList" resultType="gpxDto" parameterType="com.nsrecord.dto.BoardPager" > 
		SELECT G_SEQ,
			   U_SEQ,
			   G_CONTENT,
			   TO_CHAR(G_DATE, 'YYYY-MM-DD HH24:MI:SS') AS G_DATE,
			   G_TITLE,
			   G_ORI,
			   G_RE,
			   U_NICKNAME,
			   G_COUNT,
			   G_RECOMMAND,
			   G_REPLY,
			   G_STATUS
		FROM GPX
		WHERE U_SEQ = #{u_seq}
		ORDER BY G_DATE DESC
	</select>
	
	<insert id="insertGur" parameterType="gurDto">
		INSERT INTO GPX_USER_RANKING
		VALUES (
			GUR_SEQ.NEXTVAL,
			#{u_seq },
			#{grc_seq },
			#{gur_time },
			#{gur_times },
			 default,
			 default
		)
	</insert>
	
	<select id="selectGurIf"  parameterType="gurDto" resultType="gurDto">
		SELECT *
		FROM GPX_USER_RANKING
		WHERE U_SEQ = #{u_seq }
			AND GRC_SEQ = #{grc_seq }
	</select>
	
	<select id="selectGurListAdmin" parameterType="grcDto" resultType="gurDto">
		SELECT * FROM (
			SELECT ROWNUM AS RANKING, A.*
			FROM (
				SELECT GUR.*, UI.U_NICKNAME
				FROM GPX_USER_RANKING GUR
				JOIN USER_INFO UI
				ON (UI.U_SEQ = GUR.U_SEQ)
				WHERE GRC_SEQ = #{grc_seq }
				ORDER BY GUR_TIME
			) A
		) WHERE RANKING BETWEEN 1 AND 5
	</select>
	
	<select id="selectGurListUser" parameterType="gurDto" resultType="gurDto">
		SELECT * FROM (
			SELECT ROWNUM AS RANKING, A.*
			FROM (
				SELECT GUR.*, UI.U_NICKNAME
				FROM GPX_USER_RANKING GUR
				JOIN USER_INFO UI
				ON (UI.U_SEQ = GUR.U_SEQ)
				WHERE GRC_SEQ = #{grc_seq }
				ORDER BY GUR_TIME
			) A
		) WHERE U_SEQ = #{u_seq }
	</select>
	
	<select id="selectGpxAdminList" resultType="gpxDto">
		SELECT *
		FROM ( 
		SELECT ROWNUM RW, A.*
		FROM GPX A
		ORDER BY G_SEQ DESC
		)
		WHERE RW BETWEEN 1 AND 5
	</select>

	<select id="selectGrcOneMain" resultType="grcDto">
		SELECT *
		FROM GPX_RANKING_COURSE
		WHERE GRC_STATUS = 'M'
	</select>
	
	<update id="updateGrcStatus">
		UPDATE GPX_RANKING_COURSE
		SET
			GRC_STATUS = 'Y'
	</update>

</mapper>