<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<select id="userSelectOne" parameterType="userInfo" resultType="userInfo">
		SELECT * FROM USER_INFO WHERE U_EMAIL = #{u_email}
	</select>
	
	<select id="admin_userList" parameterType="com.nsrecord.dto.BoardPager" resultType="userInfo">
		<include refid="pagingHeader"></include>
		SELECT * 
		FROM USER_INFO
		WHERE 1 = 1 
		<include refid="search"></include>
		ORDER BY U_SEQ ASC
		<include refid="pagingFooter"></include>
	</select>
	
<!-- 회원 등록 -->
	<insert id="insertUser" parameterType="com.nsrecord.dto.UserInfo">
		INSERT INTO USER_INFO(
			U_SEQ,
			U_EMAIL,
			U_PWD,
			U_NAME,
			U_NICKNAME,
			U_PHONE,
			U_CYCLE
		) VALUES(
			USER_SEQ.NEXTVAL,
			#{u_email},
			#{u_pwd},
			#{u_name},
			#{u_nickname},
			#{u_phone},
			#{u_cycle}
		)
	</insert>
	
<!-- 회원 이메일 중복체크 -->
	<select id="idcheck" parameterType="userInfo" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE U_EMAIL = #{U_EMAIL}
	</select>
	
<!-- 	회원 닉네임 중복체크 -->
	<select id="nickcheck" parameterType="userInfo" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE U_NICKNAME = #{U_NICKNAME}
	</select>
	
<!-- 	회원 정보 수정 -->
	<update id="updateUser">
		UPDATE USER_INFO 
		SET 
			U_PWD = #{u_pwd},
			U_NICKNAME = #{u_nickname},
			U_PHONE = #{u_phone},
			U_CYCLE = #{u_cycle}
		WHERE
			U_EMAIL = #{u_email}
			
	</update>
	
<!-- 	회원 정보 삭제 -->
	<delete id="deleteUser">
		DELETE FROM USER_INFO
		WHERE U_EMAIL = #{u_email}
			AND U_PWD = #{u_pwd}
	</delete>
	
<!-- 	회원 리스트 출력 및페이징처리 -->
	<sql id="search">
		<choose>
			<when test="searchSort !=''">
				AND ${searchSort} like '%'||#{searchVal}||'%'
			</when>	
		</choose>
	</sql>
	
	<select id="selectUserListCount" parameterType="searchDto" resultType="_int">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE 1=1
		<include refid="search"></include>
	</select>
	
	<sql id="pagingHeader">
		SELECT * FROM(
		SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	
	<sql id="pagingFooter">
		) A
		)WHERE rn BETWEEN #{start} AND #{end}	
	</sql>
	
	
	<select id="userCount">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE DATE
	</select>
</mapper>