<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<select id="userSelectOne" parameterType="userInfo" resultType="userInfo">
		SELECT * FROM USER_INFO WHERE U_EMAIL = #{u_email}
	</select>

	<insert id="insertUser" parameterType="userInfo">
		INSERT INTO USER_INFO(
			U_SEQ,
			U_EMAIL,
			U_PWD,
			U_NAME,
			U_NICKNAME,
			U_PHONE,
			U_CYCLE
		) VALUES(
			USER_SEQ.NEXTVAL,
			#{u_email},
			#{u_pwd},
			#{u_name},
			#{u_nickname},
			#{u_phone},
			#{u_cycle}
		)
	</insert>
	
	<select id="idcheck" resultType="int">
		SELECT COUNT(*)
		FROM USER_INFO
		WHERE U_EMAIL = #{U_EMAIL}
	</select>
</mapper>