<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.nsrecord.dto.UserInfo" alias="userInfo" />
		<typeAlias type="com.nsrecord.dto.GpxDto" alias="gpxDto"/>
		<typeAlias type="com.nsrecord.dto.Notice" alias="notice"/>
		<typeAlias type="com.nsrecord.dto.SearchDto" alias="searchDto"/>
		<typeAlias type="com.nsrecord.dto.GrcDto" alias="grcDto"/>
		<typeAlias type="com.nsrecord.dto.GurDto" alias="gurDto"/>
		<typeAlias type="com.nsrecord.dto.BoardPager" alias="boardPager"/>
		
	</typeAliases>
</configuration>
